{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 my-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <img src="{{ asset('images/logos/edf.png') }}" alt="logo" width="60" height="50">
                    <span class="fs-4 ms-2">Guide du nouvel arrivant</span>
                </a>

                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto align-items-center">
                    {# if admin connect to pannel #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="me-3 text-dark text-decoration-none" href="{{ path('admin') }}">
                            Administration
                        </a>
                    {% endif %}
                    {% if app.user %}
                        <a class="me-3 text-dark text-decoration-none"
                           href="{{ path('dashboard_index', {'nni': app.user.nni}) }}">
                            Tableau de bord
                        </a>
                        <a class="btn btn-sm btn-outline-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                    {% else %}
                        <a class="btn btn-sm btn-outline-primary" href="{{ path('app_login') }}">Connexion</a>
                    {% endif %}
                </nav>
            </div>

            {# display message flash #}
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Pricing</h1>
                <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with
                    this Bootstrap example. It’s built with default Bootstrap components and utilities with little
                    customization.</p>
            </div>
        </div>
    </header>
    <div class="container py-4">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>

    {#<div class="fl-wrapper" data-position="bottom-left" data-turbo-temporary>
        <div class="fl-flasher fl-warning fl-container fl-show" role="alert"
             aria-live="assertive" aria-atomic="true">
            <div class="fl-content">
                <div class="fl-icon">--</div>
                <div>
                    <strong class="fl-title">Avertissement</strong>
                    <span class="fl-message">
                        Vous ne pouvez pas accéder à la page de connexion car vous êtes déjà connecté en tant que
                        Bruce Wayne.
                    </span>
                </div>
                <button class="fl-close" aria-label="Close warning message">x</button>
            </div>
            <span class="fl-progress-bar">--</span>
        </div>
    </div>#}


{% endblock %}
