{% extends 'base.html.twig' %}
{% block title %}Actions{% endblock %}

{% block body %}
    <main class="container py-5">
        <section>
            {% if actions %}
                <h1>Bienvenue sur la page des actions du Module :</h1>
            {% endif %}
            <div class="row mt-5">
                <div class="col-9">
                    {% if actions is not empty %}
                        {# On obtient la première action du tableau #}
                        {% set action = actions[0] %}

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Détails de l'action</h5>
                                <p class="card-text"><strong>Description :</strong> {{ action.description }}</p>
                                <p class="card-text"><strong>Commentaire de l'agent :</strong> {{ action.agentComment }}</p>
                                <p class="card-text"><strong>Date de validation de l'agent :</strong> {{ action.agentValidatedAt ? action.agentValidatedAt|date('d/m/Y H:i') : 'Non validé' }}</p>

                                {# Afficher les détails du module associé à l'action #}
                                {% if action.module %}
                                    <hr>
                                    <h6>Détails du Module associé :</h6>
                                    <p><strong>Titre :</strong> {{ action.module.title }}</p>
                                    <p><strong>Description :</strong> {{ action.module.description }}</p>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('dashboard_index', {'nni': app.user.nni}) }}" class="btn btn-primary">
                                    Retour au dashboard
                                </a>
                            </div>
                        </div>

                    {% else %}
                        {# Jumbotron #}
                        <div class="jumbotron">
                            <h1 class="display-4">Aucune action n'a été trouvée</h1>
                            <p class="lead">Il n'y a pas d'action à afficher pour le moment.</p>
                            <hr class="my-4">
                            <p>Vous pouvez revenir au dashboard en cliquant sur le bouton ci-dessous.</p>
                            <a class="btn btn-primary btn-md" href="{{ path('dashboard_index', {'nni': app.user.nni}) }}" role="button">Retour au dashboard</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
