<div class="pageTitle">
    <h1>Tableau de bord</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard_index', {'nni': app.user.nni}) }}">
                    Accueil
                </a>
            </li>
            <li class="breadcrumb-item active">Tableau de bord</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->
<div class="col-lg-12">
    <div class="row">
        <!-- Agent Card -->
        {{ include('app/dashboard/cards/userCard.html.twig') }}
        <!-- End Agent Card -->

        <!-- Mentor Card -->
        {{ include('app/dashboard/cards/mentorCard.html.twig') }}
        <!-- End Mentor Card -->
    </div>
</div>
<!-- End Left side columns -->

<!-- Modal Bootstrap pour les commentaires -->
<section id="card-logbook">
    <div class="row mt-4">
        <div class="col-12">
            {% if logbooks %}
            {% for logbook in logbooks %}
                <div class="card info-card mentor-card shadow-sm rounded-4 mb-4">
                    <div class="card-header bg-white text-uppercase fw-bold border-bottom border-secondary border-opacity-25 ps-3">
                        <h5 class="mb-0">{{ logbook.name }}</h5>
                    </div>
                    <div class="card-body">
                        {% for theme in logbook.themes %}
                            <div class="accordion mt-3" id="theme-{{ theme.id }}-logbook-{{ logbook.id }}">
                                <div class="accordion-item border-0">
                                    <h2 class="accordion-header" id="heading-{{ theme.id }}-logbook-{{ logbook.id }}">
                                        <button class="accordion-button collapsed shadow-sm rounded-3 bg-primary-subtle text-dark"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapse-theme-{{ theme.id }}-logbook-{{ logbook.id }}"
                                                aria-expanded="false"
                                                aria-controls="collapse-theme-{{ theme.id }}-logbook-{{ logbook.id }}">
                                            {{ theme.title }}
                                            {% set completedModules = 0 %}
                                            {% for module in theme.modules %}
                                                {% set actionByCurrentUser = module.actions|filter(action => action.agentComment is not null and action.user == app.user) %}
                                                {% if actionByCurrentUser|length > 0 %}
                                                    {% set completedModules = completedModules + 1 %}
                                                {% endif %}
                                            {% endfor %}
                                            <span class="badge {% if completedModules == theme.modules|length %}bg-success{% else %}bg-primary{% endif %} rounded-pill ms-3">{{ completedModules }} / {{ theme.modules|length }}</span>
                                        </button>
                                    </h2>

                                    <div id="collapse-theme-{{ theme.id }}-logbook-{{ logbook.id }}"
                                         class="accordion-collapse collapse"
                                         aria-labelledby="heading-{{ theme.id }}-logbook-{{ logbook.id }}"
                                         data-bs-parent="#theme-{{ theme.id }}-logbook-{{ logbook.id }}">
                                        <div class="accordion-body">
                                            <!-- Ajout du conteneur scrollable -->
                                            <div class="scrollable-modules">
                                                <ul class="list-group list-group-flush">
                                                    {% for module in theme.modules %}
                                                        {% set actionByCurrentUser = module.actions|filter(action => action.agentComment is not null and action.user == app.user) %}
                                                        {% set hasFilledActions = actionByCurrentUser|length > 0 %}
                                                        {% set moduleValidatedByMentor = module.actions|filter(action => action.mentorValidatedAt and action.user == app.user) %}
                                                        {% set moduleCommentedByMentor = module.actions|filter(action => action.mentorComment is not null and action.user == app.user) %}
                                                        <li id="module-{{ module.id }}"
                                                            class="list-group-item d-flex justify-content-between align-items-center py-2
                                                                {{ moduleCommentedByMentor is not empty ? 'bg-primary-subtle border border-primary rounded-1' : '' }}
                                                                {{ moduleValidatedByMentor is not empty ? 'bg-success-subtle border-0' : '' }}">
                                                            <span>{{ loop.index }} - {{ module.title }}</span>
                                                            <div class="d-flex gap-2">
                                                                {% if  moduleValidatedByMentor|length > 0 %}
                                                                    <span class="badge bg-success rounded-pill"
                                                                          data-bs-toggle="modal"
                                                                          data-bs-target="#userActionModal{{ module.id }}"
                                                                          style="cursor: pointer">
                                                                            <i class="bi bi-check-circle"></i> Validé
                                                                        </span>
                                                                {% else %}
                                                                    {% if hasFilledActions %}
                                                                        <a class="btn btn-sm btn-outline-primary"
                                                                           href="{{ path('action_edit', { 'nni': app.user.nni, 'moduleId': module.id, 'logbookId': logbook.id }) }}">
                                                                            <i class="bi bi-pencil-square"></i>
                                                                            Modifier
                                                                        </a>
                                                                    {% else %}
                                                                        <a class="btn btn-sm btn-primary"
                                                                           href="{{ path('action_edit', { 'nni': app.user.nni, 'moduleId': module.id, 'logbookId': logbook.id }) }}">
                                                                            <i class="bi bi-pencil-square"></i>
                                                                            Renseigner le module
                                                                        </a>
                                                                    {% endif %}
                                                                    {% if module.actions|filter(action => action.agentComment is not null and action.mentorComment is null and action.user == app.user)|length > 0 %}
                                                                        <button class="btn btn-sm btn-outline-secondary"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#userActionModal{{ module.id }}">
                                                                            <i class="bi bi-info-circle"></i>
                                                                            Commentaire agent
                                                                        </button>
                                                                    {% elseif module.actions|filter(action => action.mentorComment is not null and action.user == app.user)|length > 0 %}
                                                                        <button class="btn btn-sm btn-outline-success"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#userActionModal{{ module.id }}">
                                                                            <i class="bi bi-info-circle"></i>
                                                                            Commentaire tuteur
                                                                        </button>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <!-- Fin du conteneur scrollable -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <div class="card border-0 rounded-xl shadow-lg overflow-hidden position-relative card-logbook">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-md-6 p-5 d-flex flex-column justify-content-center">
                                <h3 class="fw-bold mb-3 glitch-text" data-text="Aucun carnet disponible" style="color: #012970">Aucun carnet disponible</h3>
                                <p id="typewriter-text" class="lead text-muted mb-4" data-firstname="{{ app.user.firstname|capitalize }}"></p>
                            </div>
                            <div class="col-md-6 dark-gradient-background d-none d-md-flex align-items-center justify-content-center position-relative overflow-hidden">
                                <div class="hologram-effect"></div>
                                <div class="particle-system"></div>
                                <div class="floating-icon">
                                    <i class="bi bi-book fs-1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- Modals pour afficher les commentaires des utilisateurs et tuteurs -->
{% for logbook in logbooks %}
    {% for theme in logbook.themes %}
        {% for module in theme.modules %}
            {% if module.actions|filter(action => action.agentComment is not null and action.agentComment|length > 0 and action.user == app.user or action.mentorComment is not null)|length > 0 %}
                <div class="modal fade" id="userActionModal{{ module.id }}" tabindex="-1"
                     aria-labelledby="userActionModalLabel{{ module.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content shadow-lg">
                            <div class="modal-header bg-light border-0">
                                <h3 class="modal-title text-dark" id="userActionModalLabel{{ module.id }}">
                                    <i class="bi bi-chat-dots me-2"></i> Commentaires
                                </h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% for action in module.actions %}
                                    {% if action.agentComment and action.user == app.user %}
                                        <div class="mb-4">
                                            <h5 class="text-primary">Commentaire de l'Agent</h5>
                                            <div class="bg-light p-3 border rounded">
                                                <p>{{ action.agentComment }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if action.mentorComment and action.user == app.user %}
                                        <div class="mt-4">
                                            <h5 class="text-success">Commentaire du Tuteur</h5>
                                            <div class="bg-light p-3 border rounded">
                                                <p>{{ action.mentorComment }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if action.mentorValidatedAt and action.user == app.user %}
                                        <div class="mt-4">
                                            <hr>
                                            <h5 class="text-success">Validation du Tuteur</h5>
                                            <div class="bg-secondary-light p-3 border rounded">
                                                <p>{{ action.mentorVisa }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    <i class="bi bi-x-circle"></i> Fermer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
