{% extends('base.html.twig') %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    {% include('app/dashboard/_dashboardHeader.html.twig') %}
    {% include('app/dashboard/_dashboardAside.html.twig') %}


    <main id="main" class="main">

        <div class="pageTitle">
            <h1>Tableau de bord</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('dashboard_index', {'nni': app.user.nni}) }}">
                            Accueil
                        </a>
                    </li>
                    <li class="breadcrumb-item active">Tableau de bord</li>
                </ol>
            </nav>
        </div>
        <!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- Agent Card -->
                        {{ include('app/dashboard/cards/userCard.html.twig') }}
                        <!-- End Agent Card -->

                        <!-- Mentor Card -->
                        {{ include('app/dashboard/cards/mentorCard.html.twig') }}
                        <!-- End Mentor Card -->
                    </div>

                    {#<div class="row mt-4">
                        <!-- Logbook Card -->
                        {% for logbookData in logbooks %}
                            <div class="col-12">
                                <div class="card info-card customers-card">
                                    <div class="card-body">
                                        <h5 class="card-title">Carnet de Compagnonnage</h5>
                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-journal"></i>
                                            </div>
                                            <div class="ps-3">
                                                {% set progress = logbookData.progress * 100 %}
                                                <h6>Progression: {{ progress }}%</h6>
                                                <div class="progress">
                                                    {% set progress_class = logbookData.progress_class %}
                                                    <div class="progress-bar {{ progress_class }}" role="progressbar"
                                                         style="width: {{ progress }}%" aria-valuenow="{{ progress }}"
                                                         aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <span class="text-muted small pt-2 d-block">Sections non validées : {{ logbookData.unvalidated_sections }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-12">
                                <div class="card info-card no-mentor-card h-100">
                                    <div class="card-body text-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3">
                                            <i class="bi bi-exclamation-circle"></i>
                                        </div>
                                        <h5 class="card-title">Pas de carnet de compagnonnage</h5>
                                        <p class="text-muted">{{ user.fullname }} n'a actuellement été affecté.</p>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('admin', {
                                                crudAction: 'index',
                                                crudControllerFqcn: 'App\\Controller\\Admin\\Logbook\\LogbookCrudController',
                                            }) }}" class="btn btn-sm" id="btn-assign--mentor">Affecter un carnet</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- End Logbook Card -->
                    </div>#}
                </div>
                <!-- End Left side columns -->
            </div>

            <section id="card-logbook">
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                {% for logbook in logbooks %}
                                    {% for themeId, theme in logbook.themes %}
                                        <div class="accordion p-2 {{ loop.first ? 'mt-4' }}" id="theme-{{ themeId }}">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-theme-{{ themeId }}" aria-expanded="true" aria-controls="collapse-theme-{{ themeId }}">
                                                        {{ theme.title }}
                                                    <span class="badge bg-primary rounded-pill ms-3">{{ theme.modules|length }}</span>
                                                    </button>
                                                </h2>
                                                <div id="collapse-theme-{{ themeId }}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#theme-{{ themeId }}">
                                                    <div class="accordion-body">
                                                        {% for moduleId, module in theme.modules %}
                                                            <ul class="list-group mt-2">
                                                                <li class="list-group-item">
                                                                    {{ loop.index }} - {{ module.title }}
                                                                    <a href="">
                                                                        <i class="bi bi-eye float-end"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if logbooks %}
                        {#<div class="row">
                            <div class="col-12">
                                <div class="card info-card customers-card">
                                    <div class="card-body">
                                        <h5 class="card-title">Carnet de compagnonnage</h5>
                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-wrench-adjustable-circle"></i>
                                            </div>

                                            <section class="section dashboard">
                                                {% for logbook in logbooks %}
                                                    <div class="card mb-4 ms-2 bg-success-subtle">
                                                        <div class="card-body">
                                                            <h5 class="card-title text-dark">{{ logbook.logbook.name }}</h5>

                                                            <div class="progress mb-3">
                                                                <div class="progress-bar {{ logbook.progress_class }}"
                                                                     role="progressbar" style="width: {{ logbook.progress }}%;"
                                                                     aria-valuenow="{{ logbook.progress }}" aria-valuemin="0"
                                                                     aria-valuemax="100">
                                                                    {{ logbook.progress }}%
                                                                </div>
                                                            </div>

                                                            <div class="accordion" id="accordion{{ logbook.logbook.id }}">
                                                                {% for themeId, theme in logbook.themes %}
                                                                    <div class="accordion-item">
                                                                        <h2 class="accordion-header" id="heading{{ themeId }}">
                                                                            <button class="accordion-button pe-2 me-2" type="button"
                                                                                    data-bs-toggle="collapse"
                                                                                    data-bs-target="#collapse{{ themeId }}"
                                                                                    aria-expanded="true"
                                                                                    aria-controls="collapse{{ themeId }}">
                                                                                {{ theme.title }}
                                                                            </button>
                                                                        </h2>
                                                                        <div id="collapse{{ themeId }}"
                                                                             class="accordion-collapse collapse show ms-2"
                                                                             aria-labelledby="heading{{ themeId }}"
                                                                             data-bs-parent="#accordion{{ logbook.logbook.id }}">
                                                                            <div class="accordion-body">
                                                                                {% if theme.description %}
                                                                                    <p>{{ theme.description }}</p>
                                                                                {% endif %}

                                                                                {% for moduleId, module in theme.modules %}
                                                                                    <div class="card mb-3">
                                                                                        <div class="card-body py-2">
                                                                                            <h6 class="card-title pt-2">
                                                                                                {{ loop.index }} - {{ module.title }}
                                                                                            </h6>
                                                                                            {% if module.description %}
                                                                                                <p class="card-text lead ms-3 text-primary">
                                                                                                    {{ module.description|raw }}
                                                                                                </p>
                                                                                            {% endif %}

                                                                                            {% if module.actions is not empty %}
                                                                                                <table class="table table-bordered mt-3">
                                                                                                    <thead>
                                                                                                    <tr>
                                                                                                        <th>Commentaire Agent</th>
                                                                                                        <th>Validation Agent</th>
                                                                                                        <th>Commentaire Mentor</th>
                                                                                                        <th>Validation Mentor</th>
                                                                                                    </tr>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                    {% for action in module.actions %}
                                                                                                        <tr>
                                                                                                            <td>{{ action.agentComment }}</td>
                                                                                                            <td>
                                                                                                                {% if action.agentValidatedAt %}
                                                                                                                    {{ action.agentValidatedAt|date('d/m/Y H:i') }} - {{ action.agentVisa }}
                                                                                                                {% else %}
                                                                                                                    Non validé
                                                                                                                {% endif %}
                                                                                                            </td>
                                                                                                            <td>{{ action.mentorComment }}</td>
                                                                                                            <td>
                                                                                                                {% if action.mentorValidatedAt %}
                                                                                                                    {{ action.mentorValidatedAt|date('d/m/Y H:i') }} - {{ action.mentorVisa }}
                                                                                                                {% else %}
                                                                                                                    Non validé
                                                                                                                {% endif %}
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    {% endfor %}
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            {% endif %}
                                                                                        </div>
                                                                                    </div>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if modules is defined and modules|length > 0 %}
                        {% for module in modules %}
                            <div class="module">
                                <details>
                                    <summary>{{ module.moduleTitle }}</summary>
                                    <p class="container">
                                        TODO: Voir comment afficher les modules du carnet et faire la mise en page #
                                    </p>
                                </details>
                                <!-- autres éléments de module -->
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Aucun module trouvé.</p>
                    {% endif %}
                        </div>#}
                    {% endif %}
                </div>
            </section>


        </section>

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ include('app/dashboard/_dashboardFooter.html.twig') }}
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

{% endblock %}
