{% extends('base.html.twig') %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    {% include('app/dashboard/_dashboardHeader.html.twig') %}
    {% include('app/dashboard/_dashboardAside.html.twig') %}


    <main id="main" class="main">

        <div class="pageTitle">
            <h1>Tableau de bord</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('dashboard_index', {'nni': app.user.nni}) }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Tableau de bord</li>
                </ol>
            </nav>
        </div>
        <!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns 12: Une colonne sinon 8 et 4-->
                <div class="col-lg-12">
                    <div class="row">

                        <!-- User Card -->
                        <div class="col-6">
                            <div class="card info-card user-card h-100">
                                {#<div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>

                                        <li><a class="dropdown-item" href="#">Today</a></li>
                                        <li><a class="dropdown-item" href="#">This Month</a></li>
                                        <li><a class="dropdown-item" href="#">This Year</a></li>
                                    </ul>
                                </div>#}
                                <!-- Bandeau de spécialité -->
                                <div class="ribbon-box mt-2">
                                    <div class="ribbon
                                        {% if user.specialityLabel == 'CHA' %}ribbon-cha
                                        {% elseif user.specialityLabel == 'LEV' %}ribbon-lev
                                        {% elseif user.specialityLabel == 'MEC' %}ribbon-mec
                                        {% elseif user.specialityLabel == 'ROB' %}ribbon-rob
                                        {% endif %}
                                    ">
                                        {{ user.specialityLabel }}
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ user.fullname }}
                                        | <span class="text-muted"> {{ userSeniority }}</span>
                                    </h5>
                                    <div class="d-flex align-items-start mb-3">
                                        <!-- Icone de l'utilisateur -->
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center me-3">
                                            <i class="bi bi-person"></i>
                                        </div>

                                        <div>
                                            <!-- Poste de l'utilisateur -->
                                            <h6 class="mb-1">{{ user.jobLabel }}</h6>
                                            <!-- Date d'embauche -->
                                            <span class="text-success small pt-1 fw-bold">Embauche:</span>
                                            <span class="text-muted small pt-2 ps-1">{{ user.hiringAt|date('d/m/Y') }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End User Card -->

                        <!-- Mentor Card -->
                        <div class="col-6">
                            <div class="card info-card mentor-card h-100">
                                <div class="ribbon-box mt-2">
                                    <div class="ribbon ribbon-mentor">
                                        mentor
                                    </div>
                                </div>
                                {#<div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                </div>#}
                                <div class="card-body">
                                    <h5 class="card-title">{{ user.mentor }}
                                        {% if mentorSeniority is not same as "Non défini" %}
                                            | <span class="text-muted">{{ mentorSeniority }}</span>
                                        {% endif %}
                                    </h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-person-heart"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ user.mentor.jobLabel }}</h6>
                                            <!-- Date d'embauche -->
                                            <span class="text-success small pt-1 fw-bold">Embauche:</span>
                                            {% if user.mentor.hiringAt is not null %}
                                                <span class="text-muted small pt-2 ps-1">{{ user.mentor.hiringAt|date('d/m/Y') }}</span>
                                            {% else %}
                                                <span class="text-muted small pt-2 ps-1">Non renseignée</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End Mentor Card -->

                    </div>

                    <div class="row mt-4">

                        <!-- Logbook Card -->

                        <div class="col-12">

                            <div class="card info-card customers-card">
                                <div class="card-body">
                                    <h5 class="card-title">Carnet de Compagnonnage</h5>
                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-journal"></i>
                                        </div>
                                        <div class="ps-3">
                                            {% set progress = 100 %}
                                            <h6>Progression: {{ progress}}%</h6>
                                            <div class="progress">
                                                {% set progress_class = progress < 50 ? 'bg-danger' : progress < 75 ? 'bg-warning' : 'bg-success' %}
                                                <div class="progress-bar {{ progress_class }}" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <span class="text-muted small pt-2 d-block">Sections non validées : 6</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Logbook Card -->


                    </div>


                </div>
                <!-- End Left side columns -->

            </div>

            <div class="row">
                {% if modules is defined and modules|length > 0 %}
                    {% for module in modules %}
                        <div class="module">
                            <details>
                                <summary>{{ module.moduleTitle }}</summary>
                                <p class="container">
                                    {# TODO: Voir comment afficher les modules du carnet et faire la mise en page #}
                                </p>
                            </details>
                            <!-- autres éléments de module -->
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Aucun module trouvé.</p>
                {% endif %}
            </div>

        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}
