{% extends('base.html.twig') %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <!-- Logo -->
        <div class="d-flex align-items-center justify-content-between">
            <a href="{{ path('dashboard_index', {'nni': app.user.nni}) }}" class="logo d-flex align-items-center">
                <img src="{{ asset('images/logos/edf.png') }}" alt="">
                <span class="d-none d-lg-block" style="font-size: 14px;">Carnet de Compagnonnage</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <!-- End Logo -->

        <!-- Search Bar -->
        {#<div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div>#}
        <!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <!-- Search Icon-->
                {#<li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>#}
                <!-- End Search Icon-->

                {#<li class="nav-item dropdown">#}

                    <!-- Notification Icon -->
                    {#<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a>#}
                    <!-- End Notification Icon -->

                    {#<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            You have 4 new notifications
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Lorem Ipsum</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>30 min. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>

                    </ul>#}
                    <!-- End Notification Dropdown Items -->

                {#</li>#}
                <!-- End Notification Nav -->

                <!-- Messages Nav -->
                {#<li class="nav-item dropdown">

                    <!-- End Messages Icon -->
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a>
                    <!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have 3 new messages
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Maria Hudson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Anna Nelson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>6 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>David Muldon</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Show all messages</a>
                        </li>

                    </ul>
                    <!-- End Messages Dropdown Items -->

                </li>#}
                <!-- End Messages Nav -->

                <!-- Profile Nav -->
                <li class="nav-item dropdown pe-3">
                    <!-- Profile Image Icon -->
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle"></i>
                        <span class="d-none d-md-block dropdown-toggle ps-2">
                            {{ user.fullname }}
                        </span>
                    </a>
                    <!-- End Profile Image Icon -->

                    <!-- Profile Dropdown Items -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header text-center">
                            <h6 class="fw-bold">{{ user.fullname }}</h6>
                            <span class="d-block text-muted">{{ user.jobLabel }}</span>
                            <small class="d-block fst-italic text-muted">{{ user.specialityLabel }}</small>
                            <div class="mt-2">
                                <small class="badge bg-success text-white" style="letter-spacing: 1px;">{{ user.nni }}</small>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{{ path('admin') }}">
                                    <i class="bi bi-person"></i>
                                    <span>Administration</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-gear"></i>
                                <span>Paramètres du compte</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-question-circle"></i>
                                <span>Besoin d'aide ?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{{ path('app_logout') }}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Déconnexion</span>
                            </a>
                        </li>

                    </ul>
                    <!-- End Profile Dropdown Items -->
                </li>
                <!-- End Profile Nav -->

            </ul>
        </nav>
        <!-- End Icons Navigation -->

    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="#">
                    <i class="bi bi-grid"></i>
                    <span>Tableau de bord</span>
                </a>
            </li>
            <!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i>
                    <span>Mon carnet</span>
                    <i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-journal"></i>
                            Voir tous les thèmes
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Components Nav -->

            <li class="nav-heading">Pages</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li><!-- End Profile Page Nav -->

        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pageTitle">
            <h1>Tableau de bord</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('dashboard_index', {'nni': app.user.nni}) }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Tableau de bord</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns 12: Une colonne sinon 8 et 4-->
                <div class="col-lg-12">
                    <div class="row">

                        <!-- User Card -->
                        <div class="col-6">
                            <div class="card info-card user-card h-100">
                                {#<div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>

                                        <li><a class="dropdown-item" href="#">Today</a></li>
                                        <li><a class="dropdown-item" href="#">This Month</a></li>
                                        <li><a class="dropdown-item" href="#">This Year</a></li>
                                    </ul>
                                </div>#}
                                <!-- Bandeau de spécialité -->
                                <div class="ribbon-box mt-2">
                                    <div class="ribbon
                                        {% if user.specialityLabel == 'CHA' %}ribbon-cha
                                        {% elseif user.specialityLabel == 'LEV' %}ribbon-lev
                                        {% elseif user.specialityLabel == 'MEC' %}ribbon-mec
                                        {% elseif user.specialityLabel == 'ROB' %}ribbon-rob
                                        {% endif %}
                                    ">
                                        {{ user.specialityLabel }}
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ user.fullname }}
                                        | <span class="text-muted"> {{ userSeniority }}</span>
                                    </h5>
                                    <div class="d-flex align-items-start mb-3">
                                        <!-- Icone de l'utilisateur -->
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center me-3">
                                            <i class="bi bi-person"></i>
                                        </div>

                                        <div>
                                            <!-- Poste de l'utilisateur -->
                                            <h6 class="mb-1">{{ user.jobLabel }}</h6>
                                            <!-- Date d'embauche -->
                                            <span class="text-success small pt-1 fw-bold">Embauche:</span>
                                            <span class="text-muted small pt-2 ps-1">{{ user.hiringAt|date('d/m/Y') }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End User Card -->

                        <!-- Mentor Card -->
                        <div class="col-6">
                            <div class="card info-card mentor-card h-100">
                                <div class="ribbon-box mt-2">
                                    <div class="ribbon ribbon-mentor">
                                        mentor
                                    </div>
                                </div>
                                {#<div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                </div>#}
                                <div class="card-body">
                                    <h5 class="card-title">{{ user.mentor }}
                                        {% if mentorSeniority is not same as "Non défini" %}
                                            | <span class="text-muted">{{ mentorSeniority }}</span>
                                        {% endif %}
                                    </h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-person-heart"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ user.mentor.jobLabel }}</h6>
                                            <!-- Date d'embauche -->
                                            <span class="text-success small pt-1 fw-bold">Embauche:</span>
                                            {% if user.mentor.hiringAt is not null %}
                                                <span class="text-muted small pt-2 ps-1">{{ user.mentor.hiringAt|date('d/m/Y') }}</span>
                                            {% else %}
                                                <span class="text-muted small pt-2 ps-1">Non renseignée</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End Mentor Card -->

                    </div>

                    <div class="row mt-4">

                        <!-- Logbook Card -->

                        <div class="col-12">

                            <div class="card info-card customers-card">
                                <div class="card-body">
                                    <h5 class="card-title">Carnet de Compagnonnage</h5>
                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-journal"></i>
                                        </div>
                                        <div class="ps-3">
                                            {% set progress = 100 %}
                                            <h6>Progression: {{ progress}}%</h6>
                                            <div class="progress">
                                                {% set progress_class = progress < 50 ? 'bg-danger' : progress < 75 ? 'bg-warning' : 'bg-success' %}
                                                <div class="progress-bar {{ progress_class }}" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <span class="text-muted small pt-2 d-block">Sections non validées : 6</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Logbook Card -->


                    </div>


                </div>
                <!-- End Left side columns -->

            </div>

            <div class="row">
                {% if modules is defined and modules|length > 0 %}
                    {% for module in modules %}
                        <div class="module">
                            <details>
                                <summary>{{ module.moduleTitle }}</summary>
                                <p class="container">
                                    {# TODO: Voir comment afficher les modules du carnet et faire la mise en page #}
                                </p>
                            </details>
                            <!-- autres éléments de module -->
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Aucun module trouvé.</p>
                {% endif %}
            </div>

        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}
