{% if user.mentor is not null %}
    <div class="col-6">
        <div class="card info-card mentor-card h-100">
            <div class="ribbon-box mt-2">
                <div class="ribbon ribbon-mentor">
                    mentor ({{ user.mentor.specialityAbreviation }})
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ user.mentor }}
                    {% if mentorSeniority is not same as "Non défini" %}
                        | <span class="text-muted">{{ mentorSeniority }}</span>
                    {% endif %}
                </h5>

                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-person-heart"></i>
                    </div>

                    <div class="ps-3">
                        {% if user.mentor is not null %}
                            <h5 class="card-title">{{ user.mentor.getFullname() }}</h5>
                            <h6>{{ user.mentor.jobLabel }}</h6>
                        {% else %}
                            <h5 class="card-title">Mentor non défini</h5>
                        {% endif %}
                        <!-- Date d'embauche -->
                        <span class="text-success small pt-1 fw-bold">Embauche:</span>
                        {% if user.mentor.hiringAt is not null %}
                            <span class="text-muted small pt-2 ps-1">{{ user.mentor.hiringAt|date('d/m/Y') }}</span>
                        {% else %}
                            <span class="text-muted small pt-2 ps-1">Non renseignée</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <!-- Card pas de mentor -->
    <div class="col-6">
        <div class="card info-card no-mentor-card h-100">
            <div class="ribbon-box mt-2">
                <div class="ribbon ribbon-no-mentor">
                    Pas de Mentor
                </div>
            </div>
            <div class="card-body text-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3">
                    <i class="bi bi-exclamation-circle"></i>
                </div>
                <h5 class="card-title">Aucun mentor assigné</h5>
                <p class="text-muted">{{ user.fullname }} n'a actuellement pas de mentor assigné.</p>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin', {
                        crudAction: 'edit',
                        crudControllerFqcn: 'App\\Controller\\Admin\\User\\UserCrudController',
                        entityId: app.user.id
                    }) }}" class="btn btn-sm" id="btn-assign--mentor">Assigner un mentor</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
