{% extends 'base.html.twig' %}

{% block title %}Dashboard Tuteur{% endblock %}
{% block body %}

    {% set user = app.user %}
    {% include('app/dashboard/_dashboardHeader.html.twig') %}
    {% include('app/dashboard/_dashboardAside.html.twig') %}

    <main id="main" class="main">
        <!-- Message Flash -->
        <section id="flash_messages" class="container-fluid mt-4">
            {# Display messages Flash #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

        </section>

        <section>
             <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                <tr class="text-start">
                    <th>Nom</th>
                    <th>Poste</th>
                    <th>Spécialité</th>
                    <th>Ancienneté</th>
                    <th class="text-center">Avancement</th>
                    <th class="text-center">Validations en attente</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for apprenant in apprenants %}
                    {% for logbook in apprenant.logbooks %}
                        {% if apprenant.specialityLabel == 'Chaudronnerie' %}
                            {% set specialityColor = '#3d9d85' %}
                        {% elseif apprenant.specialityLabel == 'Levage' %}
                            {% set specialityColor = '#f0ad4e' %}
                        {% elseif apprenant.specialityLabel == 'Mécanique' %}
                            {% set specialityColor = '#d9534f' %}
                        {% elseif apprenant.specialityLabel == 'Robinetterie' %}
                            {% set specialityColor = '#5bc0de' %}
                        {% else %}
                            {% set specialityColor = '#6c757d' %}
                        {% endif %}
                        <tr class="text-start">
                            <td>
                                <div class="d-flex align-items-center">
                                    <img
                                            src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                            alt=""
                                            style="width: 45px; height: 45px"
                                            class="rounded-circle"
                                    />
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">{{ apprenant.fullname }}</p>
                                        <p class="text-muted mb-0">{{ apprenant.email }}</p>
                                    </div>
                                </div>
                            </td>
                            <td>{{ apprenant.jobLabel }}</td>
                            <td>
                    <span class="badge rounded-pill fw-light d-inline text-center align-middle"
                          style="background-color: {{ specialityColor }}; letter-spacing: 1px">
                        {{ apprenant.specialityLabel }}
                    </span>
                            </td>
                            <td>{{ apprenant.seniority }}</td>
                            <td class="text-center">75%</td>
                            <td class="text-center">6</td>
                            <td>
                                <a href="{{ path('mentor_logbook_details', { 'id': logbook.id, 'nni': app.user.nni,'padawanNni': apprenant.nni }) }}"
                                   class="btn btn-sm btn-primary">
                                    Voir les détails
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>

        </section>
        {#<section>
            <div class="table-responsive">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                    <tr class="text-start">
                        <th>Nom</th>
                        <th>Poste</th>
                        <th>Spécialité</th>
                        <th>Ancienneté</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for apprenant in apprenants %}
                        {% for logbook in apprenant.logbooks %}
                            {% set specialityColor = '' %}
                            {% if apprenant.specialityLabel == 'Chaudronnerie' %}
                                {% set specialityColor = '#3d9d85' %}
                            {% elseif apprenant.specialityLabel == 'Levage' %}
                                {% set specialityColor = '#f0ad4e' %}
                            {% elseif apprenant.specialityLabel == 'Mécanique' %}
                                {% set specialityColor = '#d9534f' %}
                            {% elseif apprenant.specialityLabel == 'Robinetterie' %}
                                {% set specialityColor = '#5bc0de' %}
                            {% else %}
                                {% set specialityColor = '#6c757d' %}
                            {% endif %}
                            <tr class="text-start">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img
                                                    src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                                    alt=""
                                                    style="width: 45px; height: 45px"
                                                    class="rounded-circle"
                                            />
                                            <div class="ms-3">
                                                <p class="fw-bold mb-1">{{ apprenant.fullname }}</p>
                                                <p class="text-muted mb-0">{{ apprenant.email }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="fw-normal mb-1">{{ apprenant.jobLabel }}</p>
                                    </td>
                                    <td>
                                        <span class="badge rounded-pill fw-light d-inline text-center align-middle"
                                              style="background-color: {{ specialityColor }}; letter-spacing: 1px">
                                            {{ apprenant.specialityLabel }}
                                        </span>
                                    </td>
                                    <td>{{ apprenant.seniority }}</td>
                                    <td>
                                        <a href="{{ path('mentor_logbook_details', { 'id': logbook.id, 'nni': app.user.nni,'padawanName': apprenant.fullname }) }}"
                                           class="btn btn-sm btn-primary">
                                            Voir les détails
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>#}

    </main>
{% endblock %}
